<section class="team">
  <h1 class="team-name">History</h1>
  <p class="team-text">
    The period of events before the invention of writing systems is considered
    prehistory.[4] "History" is an umbrella term comprising past events as well
    as the memory, discovery, collection, organization, presentation, and
    interpretation of these events. Historians seek knowledge of the past using
    historical sources such as written documents, oral accounts, art and
    material artifacts, and ecological markers.[5] History is incomplete and
    still has debatable mysteries.
  </p>
  <!-- <img class="img-team"
    src="./img/98b952001792e2b836669abf4d853712.jpg"
    alt="fruit"
  /> -->
</section>
