.header {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: var(--main-color);
  background-image: url('/img/vite-logo.png');
  background-repeat: no-repeat;
  background-position: center;
}
